:root {
    --deep-background: #131312;
    --semi-background: #1f1f1f;
    --font-color: #e1e1e1;
    --purple: #c28ffe;
}
html {
    background-color: var(--deep-background);
    font-family: sans-serif;
    color: var(--font-color)
}

.container {
    max-width: 1200px;
    margin: auto;
}

.chart-container {
    max-width: 1200px;
    margin: auto;
    background-color: var(--semi-background);
    /* padding: 12px; */
    margin-top: 12px;
    border: solid var(--purple) 1px;
    border-radius: 12px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    padding: 12px;
    font-weight: 600;
    color: var(--font-color);
    margin-bottom: 12px;
    font-family: sans-serif;
    background: var(--semi-background);
    border-radius: 12px;
    border: solid var(--purple) 1px;

}

.row1 {
    display: flex;
    gap: 12px;
}

#map {
    background-color: var(--semi-background);
    height: 450px;
    flex-grow: 1;
    border-radius: 12px;
    border: solid var(--purple) 1px;

} 

#info {
    border: solid var(--purple) 1px;
    min-width: 275px;
    max-width: 275px;
    background-color: var(--semi-background);
    border-radius: 12px;
    padding: 12px;
}


.hide {
    display: none;
}

#chartdiv {
    width: 100%;
    height: 500px;
  }