:root {
    --deep-background: #131312;
    --semi-background: #1f1f1f;
    --font-color: #e1e1e1;
    --purple: #c28ffe;
}
html {
    background-color: var(--deep-background);
    font-family: sans-serif;
    color: var(--font-color)
}

.container {
    max-width: 1400px;
    margin: auto;
}

.row {
    margin-top: 24px;
    margin-bottom: 24px;
    background: red;
    padding: 16px;
    background-color: var(--semi-background);
    border: solid var(--purple) 1px;
    border-radius: 12px;
}

.heading {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 12px;
    font-family: sans-serif;
    background: var(--semi-background);
    border-radius: 12px;
    border: solid var(--purple) 1px;
}

.title-area {
    flex-grow: 0;
}

.title {
    font-size: 1.6em;
    margin-bottom: 0.2em;
}

.metric-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    gap: 10px;
}

.metric-area select {
    font: inherit;
    color: inherit;
    border: 1px solid #fff;
    background-color: transparent;
}

.metric-area select option {
    background-color: var(--semi-background)
}

.row.map {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

#map {
    background-color: var(--semi-background);
    height: 450px;
    /* flex-grow: 1; */
    border-radius: 12px;
    border: solid var(--purple) 1px;
    margin-top: 6px;
} 

#info {
    border: solid var(--purple) 1px;
    min-width: 275px;
    max-width: 275px;
    background-color: var(--semi-background);
    border-radius: 12px;
    padding: 12px;
}


.hide {
    display: none;
}

#chartdiv {
    width: 100%;
    height: 500px;
  }